<head>
    <title>Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>bootstrap4</title>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">

<div class="container p-0">
    <div class="row">
        <div class="col-9">
            <h1 class="h3 mb-3">Welcome {{ user }}</h1>
        </div>
        <div class="col-3">
            <a href="/tasks/logout/"><p>Sign Out</p></a>
        </div>
    </div>
    <h2 class="h3 mb-3">{{ details.title }}</h2>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl-12">
            <p>{{ details.content }}</p>
        </div>
    </div>
</div>
